.alert-info.alert-dismissible {
    margin-top: 20px;
}
.text-primary {
    color: #00b9f2;
}
.text-reversed {
    color: #fff;
}
.m-0 {
    margin: 0;
}
.mr-10 {
    margin-right: 10px;
}
.w-50 {
    width: calc(50% - 30px);
    float: left;
    margin: 0 15px;
}
.title {
    border-bottom: 1px solid #eee;
    padding: 0 0 20px;
    margin: 0 0 40px;
}
.title-break {
    border-top: 1px solid #eee;
    padding: 20px 0;
    margin-top: 40px;
}
.caption ul {
    padding-left: 10px;
}
.form-inline {
    display: inline-block;
    margin: 0 10px;
}
.faux-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
label {
    font-weight: 600;
}
.checkbox label {
    color: #474747;
}
.help-block {
    font-size: 12px;
    line-height: 16px;
}
.action {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}
.col-push {
    margin-bottom: 20px;
}
.list-borders li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.list-borders li:last-child {
    border: 0;
}
.list-borders h4 {
    font-weight: 700;
    margin: 0;
}
.raisedChart-value {
    margin: -60px 0 0;
    padding: 0;
    line-height: 1;
}
.raisedChart-value .help-block {
    margin: 0;
    padding: 0;
    color: #555;
    font-weight: 700;
}
.table {
    background: #fff;
    color: #555;
}
.table h3,
.table h4 {
    margin: 0;
}
.footer-v3 {
    padding-top: 40px;
    border-top: 1px solid #eee;
}

/* 
	additional.css v-1.1	
	
	Notes:
	1 - Page Design - Common Across all pages - Just like above (from client) 
	2 - Used on EventCreate, EventShare, EventDetail, EventDonate & EventAttend Pages
	
	Author: ajit@dreamwares.com
	
	Last Modified By: ajit@dreamwares.com
*/

/**********************ANGULARJS-RUNTIME-HIDE-CLOAK*************************/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

/************VF-LOOKUP-DIRECTIVE****************/
.lookupLayout {
    position: relative;
}
.searchInputContainer {
    position: relative;
}
.searchInputContainer .searchIcon {
    background: #fff;
    position: absolute;
    left: 0;
    text-align: center;
    width: 35px;
    height: 32px;
    border: 1px solid #dedcdb;
    border-right: 0 none;
    line-height: 30px;
    border-radius: 4px 0 0 4px;
}
.searchInputContainer > .inputStyle {
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 0 0 transparent !important;
    border-color: #dddbda;
    padding-right: 32px;
}
.gridLayout.addProductGrid .txtCell {
    font-size: 16px;
    font-weight: 600;
    width: 115px;
}
.gridLayout.addProductGrid .productLookupCell {
    width: 550px;
    padding-right: 12px;
}
.gridCell.roomLookupCell {
    padding-right: 12px;
    width: 265px;
}
.lookupDropdown {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #8c9fb3;
    z-index: 1;
    box-shadow: 6px 14px 20px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 5px 5px;
}
.lookupDropdown:before {
    content: "";
    border: 7px solid transparent;
    border-bottom: 7px solid #8c9fb3;
    position: absolute;
    top: -14px;
    left: 50px;
}
.lookupDropdown:after {
    content: "";
    border: 7px solid transparent;
    border-bottom: 7px solid white;
    position: absolute;
    top: -13px;
    left: 50px;
}
.lookupDropdownSearch {
    padding: 15px;
    border-bottom: 1px solid #dedcdb;
}
.lookupSearchList {
    max-height: 160px;
    overflow: auto;
    font-size: 15px;
}
.lookupSearchList > ul {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.lookupSearchList > ul > li {
    padding-bottom: 5px;
    display: block;
    position: relative;
}
.lookupSearchList > ul > li > a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #545454;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lookupSearchList > ul > li > a:hover {
    background: #f3b28c;
}
.lookupSearchList > ul > li.selected > a {
    background: #f36e21;
    color: #fff;
}
.searchInputContainer .searchLoader {
    display: none;
    position: absolute;
    right: 38px;
    top: 15px;
    width: 17px;
    height: 17px;
    border: 2px solid #cedbe6;
    border-radius: 100%;
    border-right-color: #f36e21;
}
.searchInputContainer .searchLoader.spin {
    display: block;
    -webkit-animation: spin 1s infinite;
    animation: spin 1s infinite;
}
.searchInputContainer a.clearLookupItem {
    position: absolute;
    right: 5px;
    font-size: 30px;
    text-decoration: none;
    color: #525252;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    top: 7px;
    transform: rotate(45deg);
}
.searchInputContainer a.clearLookupItem i {
    line-height: 33px;
}
.lookup-creatable {
    text-align: center;
    padding: 12px;
    border-top: 1px solid #dedcdb;
}
.lookup-creatable button {
    min-width: 350px;
}
.btn-new-lookup {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/************NG-TOAST****************/
.ng-toast {
    z-index: 50000;
}
.ng-toast .alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.ng-toast .alert {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    font-size: 13px;
}
.ng-toast--left .ng-toast__message {
    text-align: center;
    margin-top: 57px;
}
.ng-toast .alert.alert-danger {
    padding-left: 38px;
    color: white;
    background-color: #c23934;
}
.ng-toast .alert.alert-success {
    padding-left: 38px;
    color: white;
    background-color: #04844b;
}
.ng-toast .alert.alert-warning {
    padding-left: 38px;
    background-color: #ffb75d;
    color: #16325c;
}
.ng-toast .alert:before {
    position: absolute;
    left: 12px;
    font-size: 16px;
    top: 9px;
}

/************CUSTOM DESIGN TOAST****************/
.ng-toast .alert.alert-success:before {
    content: "";
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    width: 7px;
    height: 13px;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    left: 15px;
}
.ng-toast .alert.alert-danger:after {
    content: "+";
    color: #c23934;
    position: absolute;
    left: 16px;
    font-weight: 800;
    top: 18px;
    transform: rotate(45deg);
    font-size: 16px;
    line-height: 0;
}
.ng-toast .alert.alert-danger:before {
    content: "";
    background: #fff;
    position: absolute;
    top: 10px;
    width: 17px;
    height: 17px;
    border-radius: 50px;
}
.ng-toast .alert.alert-warning:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 16px solid white;
    position: absolute;
    top: 1px;
    display: inline-block;
    border-radius: 4px;
}
.ng-toast .alert.alert-warning:after {
    content: "!";
    color: #d47e0f;
    position: absolute;
    left: 20.5px;
    line-height: 20px;
    text-align: left;
    font-weight: 800;
}

/************PAGE LOADER****************/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.bgBlack {
    position: fixed;
    background: rgba(0, 0, 0, 0.48);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9001;
}
.spinnerBg {
    background: rgba(255, 255, 255, 0.9);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    position: absolute;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.34);
}
.loader {
    border: 5px solid #c4c4c4;
    border-top: 5px solid #005fb2;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
    margin: 8px auto;
}

/**************MODAL DESIGN****************/
.modalLayout {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9001;
}
.modalBackdrop {
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.modalContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.modalTitle {
    background: #fff;
    padding: 12px 25px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #dfdddc;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}
a.modalCloseBtn {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    margin: -12px;
}
.modalBody {
    background: #fff;
    padding: 25px;
    max-height: 400px;
    overflow: auto;
}
.inputDiv {
    padding-bottom: 10px;
}
.inputLabel {
    padding-bottom: 3px;
    color: #706e6b;
    font-size: 0.75rem;
}
.modalFooter {
    background: #fff;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #dedcdb;
    padding: 15px 25px;
    text-align: center;
}
.modalFooter .btn {
    margin: 0 3px;
    min-width: 82px;
}
.modal {
    display: inline-block;
    min-width: 320px;
    text-align: left;
    max-width: 500px;
    margin: 150px auto 15px;
}
a.close-btn {
    font-size: 13px;
    text-align: right;
    display: block;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    transition: all 0.4s ease;
}
a.close-btn:hover {
    text-decoration: none;
    color: #f1f1f1;
    text-shadow: 1px 0 0 white;
}

/******************404*******************/
.error-404-wrap {
    height: auto;
    padding: 50px 30px;
    border: 1px solid #737373;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.error-404-wrap h1 {
    font-size: 68px;
    margin-bottom: 30px;
}
.error-404-wrap p {
    font-size: 20px;
    line-height: 24px;
}
.error-404-wrap p i {
    font-size: 24px !important;
    color: #fff;
    background: #f36f22; /* padding: 17px; */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding-top: 4px;
    vertical-align: middle;
    margin-right: 10px;
}
.help-block {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.content-type-content {
    min-height: 390px;
}
.error-code {
    font-size: 13px;
    line-height: 20px;
}
.helplink {
    width: 100%;
    display: inherit;
    font-size: 13px;
    color: #00b9f2;
    text-decoration: underline;
}
.helplink a:hover {
    color: #000 !important;
    transition: 0.3s;
}
@media (max-width: 420px) {
    .error-404-wrap p {
        font-size: 17px;
        line-height: 24px;
    }
    .error-404-wrap p i {
        font-size: 16px !important;
        width: 24px;
        height: 24px;
        margin-right: 4px;
    }
}
