label {
    margin-top: 10px;
}

/* Seems HR getting lost in sub-pixel problems otherwise */
hr {
    border-top-width: 2px !important;
}

.hide-element {
    display: none;
}

.bbox {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.community-selection-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8%;
}

#num-communities-selected {
    font-style: italic;
    text-align: center;
    margin-top: 15px;
}

#add-new-comm-text {
    font-style: italic;
}

.chosen-community-tag {
    width: 100%;
    height: fit-content;
    background-color: rgb(243, 112, 33);
    border-radius: 2px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 15px 15px;
}

.dropdown-item.selected {
    background-color: #ddd;
}

.remove-tag-icon {
    display: block;
    float: right;
    cursor: pointer;
}

.bg-ilf-earth {
    background-color: rgb(243, 112, 33);
}

bg-ilf-brown {
    background-color: rgb(96, 57, 19);
}

#community-selection-searchbar {
    position: relative;
    width: 100%;
}

#community-selection-searchicon {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #999;
}

/* SEARCH DROPDOWN */

.dropdown {
    position: relative;
    width: 100%;
}

#dropdown-items,
#dropdown-item-noresults {
    position: absolute;
    background-color: white;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    width: 100%;
}

.dropdown-item {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #999;
    padding: 10px;
}

.name-span {
    height: 40px;
}

.dropdown-alt-names-div {
    font-size: 12px;
    height: 15px;
}

.dropdown span:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media (max-width: 600px) {
    .community-selection-area {
        grid-template-columns: 100%;
    }

    #community-selection-chosen-area {
        margin-top: 40px;
    }
}
