@font-face {
    font-family: "Vaud Display";
    src: url(./Vaud_Display/Vaud_Display_Medium.otf), format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Vaud Display";
    src: url(./Vaud_Display/Vaud_Display_Book.otf), format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Vaud Display", Arial, sans-serif;
    color: #474747;
    font-size: 18px;
}
